.mainContainer {
    padding-top: 3vh;
}

.mainContainer .buttonAdvance {
    font-size: 2.5vh;
    border-radius: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-left: 3vh;
    align-self: flex-start;
    margin-top: 4vh;
}

.containerCreatCharacter {
    border-radius: 3vh;
    padding: 3.5vh;
    max-width: 100vw;
    max-height: 70vh;
    margin-top: 0;
    box-shadow: 6px 6px 0px #332D27;
    font-size: 2.1vh;
    border: 3px solid #332D27;
}

.containerCreatCharacter div {
    padding: 0px;
}

.containerCreatCharacter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 4vh;
}

.characterCreation {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 2.5vh;
}

label {
    margin-bottom: 1vh;
}

div {
    gap: 0;
}

.name {
    grid-area: 1 / 1 / 2 / 3;
    align-items: start;
}

.name input {
    min-width: 30vw;
    border: 2px solid #332D27;
}

.class {
    grid-area: 2 / 1 / 3 / 2;
    align-items: start;
}

.class select {
    min-width: 20vw;
    border: 2px solid #332D27;
}

.level {
    grid-area: 2 / 2 / 3 / 3;
    align-items: start;
}

.level select {
    min-width: 9.5vw;
    border: 2px solid #332D27;
}

.description {
    grid-area: 3 / 1 / 4 / 3;
    align-items: start;
}

.description textarea {
    resize: none;
    min-width: 30vw;
    min-height: 40vh;
    border: 2px solid #332D27;
}

.spells {
    background-color: #D9D0B7;
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 3vh;
    min-width: 22vw;
    min-height: 65vh;
    box-shadow: 6px 6px 0px #332D27;
    font-size: 2.1vh;
    border: 2px solid #332D27;
}

.spells ul {
    align-self: flex-start;
    list-style-type: none;
    padding-left: 4vh;
}

.spells ul li {
    font-size: 3vh;
    margin-bottom: 3vh;
    display: flex;
    font-weight: 500;
}

li hr {
    height: 2px;
    min-width: 26vh;
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: #332D27;
    border: none;
    border-radius: 5vh;
}

li b {
    font-weight: 500;
    color: #E30224;
}

@media screen and (max-width: 1200px) {
    li hr {
        min-width: 17vh;
    }
}
@media screen and (max-width: 1010px) {
    li hr {
        min-width: 12vh;
    }
}

@media screen and (max-width: 900px) {
    li hr {
        min-width: 5vh;
    }
}

@media screen and (max-width: 650px) {
    html body {
        margin: 0;
        padding: 0;
    }

    #root {
        display: flex;
        flex-direction: row;
    }
}