div {
  padding: 30px;
  background-color: #E6E1D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.mainContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 94vh;
  border-radius: 3vh 0px 0px 3vh ;
  align-items: center;
  justify-content: center;
}

.mainContainer h1 {
  font-size: 3.1vh;
  margin-bottom: 0px;
  text-align: center;
}

a {
  color: #E30224;
}

a:hover {
  cursor: pointer;
  color: #7B7539;
}

.containerRegister {
  border-radius: 8px;
  padding: 3.5vh;
  min-width: 35vh;
  box-shadow: 6px 6px 0px #332D27;
  font-size: 2.1vh;
  border: 3px solid #332D27;
}

.containerRegister h1 {
  margin: 0px;
}

.containerRegister button {
  padding: 1.5vh;
  min-width: 25vh;
  margin-top: 3vh;
  font-size: 2vh;
}

.containerRegister form {
  gap: 0.5vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRegister input {
  min-width: 34vh;
  min-height: 3.5vh;
  font-size: 1.5vh;
  padding-left: 1.8vh;
}

.containerRegister p {
  margin: 4px;
  align-self: flex-start;
  font-weight: 600;
}

.containerWelcome {
  border-radius: 8px;
  padding: 3.5vh;
  min-width: 35vh;
  box-shadow: 6px 6px 0px #332D27;
  font-size: 2.1vh;
  border: 3px solid #332D27;
}

.textbox {
  border: 3px solid #332D27;  
}

.textboxHome {
  border-radius: 8px;
  padding: 3vh;
  box-shadow: 6px 6px 0px #332D27;
  border: 3px solid #332D27;  
}


.containerInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100vh;
  color: #E6E1D3;
  background-color: #332D27;
  border: 0;
  align-items: flex-start;
  padding-left: 5vh;
}

.containerInfo p {
  min-width: 20vh;
  font-weight: 580;
  font-size: 4vh;
  margin-bottom: 1vh;
  padding-right: 2vh;
}

.containerInfo h1 {
  margin-top: 0.5vh;
  color: #FE2545;
  font-weight: 580;
  font-size: 8vh;
  padding-right: 2vh;
}

.containerInfo h1 b {
  font-weight: 580;
  font-size: 5vh;
  padding: 2vh;
  padding-left: 0;
}

.creditInfo {
  margin-top: 35vh;
  font-weight: 300;
  font-size: 2vh;
  padding-right: 2vh;
}

.error {
  background-color: #332D27;
  color: #E6E1D3;
  font-size: 4vh;
  padding: 10vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error span {
  color: #FE2545;
  margin-top: 5vh;
  margin-bottom: 5px;
}

.error img {
  width: 25vw;
}

@media screen and (max-width: 1100px) {
  .containerInfo {
    padding-left: 3vh;
  }
  .containerInfo h1 {
    font-size: 5vh;
  }  
}

@media screen and (max-width: 800px) {
  .containerInfo h1 {
    font-size: 4vh;
  }  
  .containerInfo p {
    font-size: 2vh;
  }  
  .containerInfo h1 b {
    font-size: 3vh;
  }  
  .creditInfo {
    font-size: 1.5vh;
    margin-top: 55vh;
  }
}

@media screen and (max-width: 700px) {
  
  html body {
    margin: 0;
    padding: 0;
  }

  #root {
    display: flex;
    flex-direction: row;
  }
  
  .mainContainer {
    position: fixed;
    top: 20vh;
    border-radius: 20px 20px 0px 0px;
    min-width: 100vw;
    max-height: 80vh;
    box-sizing: border-box;
  }

  .containerInfo {
    position: fixed;
    top: 0px;
    min-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-sizing: border-box;
  }

  .containerInfo p {
    padding-left: 2vw;
    margin: 0;
  }

  .creditInfo {
    position: flex;
    margin-top: 0;
    text-align: right;
  }

  .containerRegister {
    min-width: 30vh;
    max-width: 30vh;
  }

  .textbox {
    min-width: 30vh;
    max-width: 30vh;
  }

  .textboxHome {
    font-size: 4vw;
  }

  .containerRegister input {
    min-width: 26vh;
    max-width: 26vh;
  }

  .error {
    font-size: 2vh;
    min-width: 30vh;
    max-width: 30vh;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  }

  .error span {
    color: #FE2545;
    margin-top: 3vh;
    margin-bottom: 2px;
  }

  .error img {
    width: 55vw;
  }

}